body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-weight: 600 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:focus {
  /*outline: 1px dotted;*/
  /*outline: 5px auto -webkit-focus-ring-color;*/
  outline: none !important;
}

/* Width */
.w-1204 {
  width: 1204px;
}

.text-tennis {
  color: #d6f732;
}

.bg-warning {
  background-color: #f36903;
}

.border-1 {
 border-width: 1px;
}

.hover\:border-4:hover {
  border-width: 4px
}

.h-98 {
  height: 392px;
}

.bg-third {
  background-color: #db00ff !important;
}

.border-third {
  border-color: #db00ff !important;
}

.text-third {
  color: #FF77F1 !important;
}

.bg-fourth {
  background-color: #00f0ff !important;
}

.border-fourth {
  border-color: #00f0ff !important;
}

.text-fourth {
  color: #00f0ff !important;
}

.font-rainbow {
  font-family: Internal Rainbows;
}
.font-inter {
  font-family: Inter;
}
.text-xxs {
  font-size: 9.5px;
}

.text-52 {
  font-size: 52px;
}

.text-100 {
  font-size: 100px;
}

.text-gradient {
  background: linear-gradient(90deg, #DB00FF 4.23%, #2B67F1 105.79%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-9 {
  top: 36px;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}
.b-8 {
  bottom: 32px;
}

.l-16 {
  left: 64px;
}

.l-8 {
  left: 32px;
}

.r-16 {
  right: 64px;
}

.r-8 {
  right: 32px;
}

.box-shadow {
  box-shadow: 0px 4px 40px 5px rgba(255, 255, 255, 0.25);
}

.animate-horizonbounce {
  animation: horizonbounce 1s infinite;
}

@keyframes horizonbounce {
  0%, 100% {
    transform: translateX(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.outline {
  outline: 30px solid #00F0FF;
}

.w-485 {
  width: 550px;
}
.r-2 {
  right: 8px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;